@page

<div class="blog-home-blogcontainer">
          <div class="blog-home-featuredblog">
            <div class="blog-home-featurebloginfo">
              <div class="rate">
                <label for=""></label>
                <span>@Math.Round(ViewBag.Top1.Rating, 1)</span>
              </div>
              <div class="blog-home-featblogdetails">
                <div class="blog-home-bloginfotop">
                  <span class="blog-home-text20">
                    <span>@ViewBag.Top1.Genre.Name</span>
                  </span>
                  
                </div>
                <span class="blog-home-text08">
                    <span>@ViewBag.Top1.Title</span>
                </span>
                <div class="blog-home-blogdescription">
                  <span class="blog-home-text10">
                    <span>
                            @ViewBag.Top1.Description
                    </span>
                  </span>
                  <a style="text-decoration: none;" asp-action="Details" asp-route-id="@ViewBag.Top1.CompositionId" asp-controller="Home">
                  <div class="blog-home-continuebtn">               
                      <span class="blog-home-text12">
                        <span>Continue reading &#10132;</span>
                      </span>                   
                  </div>
                  </a>
                </div>
              </div>
            @Html.Raw("<img alt='Line29221' class='blog-home-line2' src=\"data:image/jpeg;base64,"
            + Convert.ToBase64String(@ViewBag.Top1.Image) + "\" />")
              <div class="blog-home-article-author">
                <img class="user-icon" src="~/images/userIcon.png" alt="">
                <div class="blog-home-author-text">
                    <span class="blog-home-text14"><span>@ViewBag.Top1.User.Login</span></span>
                  <span class="blog-home-text16">
                    <span>@ViewBag.Top1.Date</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="blog-home-frame7714">
            @Html.Raw("<img alt='Line29221' class='blog-home-rectangle478' src=\"data:image/jpeg;base64,"
            + Convert.ToBase64String(@ViewBag.Top1.Image) + "\" />")
            </div>
          </div>
          <div class="blog-home-frame7681">
            <span class="blog-home-text18"><span>Latest publications</span></span>
            <div class="blog-home-frame7677">

            @foreach (var item in ViewBag.Latest)
            {
                <a style="text-decoration: none;" asp-action="Details" asp-route-id="@item.CompositionId" asp-controller="Home">
                    <div class="blog-home-frame7639">
                        <div class="outimg">
                            @Html.Raw("<img alt='Line29221' class='imagesmid' src=\"data:image/jpeg;base64,"
                        + Convert.ToBase64String(@item.Image) + "\" />")
                        </div>
                        <div class="blog-home-frame7645">
                            <div class="blog-home-frame7640">
                                <div class="blog-home-frame7656">
                                    <span class="blog-home-text20">
                                        <span>@item.Genre.Name</span>
                                    </span>
                                
                                </div>
                                <span class="blog-home-text24">
                                    <span>@item.Title</span>
                                </span>
                            </div>
                            <div class="blog-home-article-author1">
                                <img class="user-icon" src="~/images/userIcon.png" alt="">
                                <div class="blog-home-author-text1">
                                    <span class="blog-home-text26">
                                        <span>@item.User.Login</span>
                                    </span>
                                    <span class="blog-home-text28">
                                        @if (DateTime.Now.Subtract(item.Date).TotalMinutes < 3)
                                        {
                                            <span>Posted just now</span>
                                        }
                                        else if (DateTime.Now.Subtract(item.Date).TotalMinutes < 60){
                                            <span>Posted @DateTime.Now.Subtract(item.Date).ToString(@"mm") minutes ago</span>
                                        }
                                        else
                                        {
                                            <span>Posted at @item.Date</span>
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }

        </div>
            <div class="blog-home-frame7680">
              <div class="blog-home-blogcatheaders">
                <span class="blog-home-text40">
                  <span>Published works</span>
                </span>
                <div class="blog-home-blogcategories">
                    <a asp-action="Index" asp-controller="Home" class="non-a">
                      <div class="blog-home-frame7650">
                        <span class="blog-home-text42"><span>All</span></span>
                      </div>
                    </a>
                    @foreach (var item in ViewBag.Genres)
                    {
                        <a asp-action="FindByGenre" asp-route-id="@item.GenreId" asp-controller="Home" class="non-a">
                            <div class="blog-home-frame7650">
                                <span class="blog-home-text42"><span>@item.Name</span></span>
                            </div>
                        </a>                       
                    }
                    <a asp-action="GetTop50Rating" asp-controller="Home" class="non-a">
                      <div class="blog-home-frame7650">
                        <span class="blog-home-text42"><span>Top 50 by rating</span></span>
                      </div>
                    </a>
                    <a asp-action="GetTop50Comments" asp-controller="Home" class="non-a">
                      <div class="blog-home-frame7650">
                        <span class="blog-home-text42"><span>Top 50 by comments</span></span>
                      </div>
                    </a>
                </div>
              </div>
              
              <div class="allcompos">   
              @if(ViewBag.All == null || ViewBag.All.Count == 0){
                  <h2>Compositions wasn`t found</h2>
              }
              else{
                    @foreach (var item in ViewBag.All)
                    {
                        <div class="blog-home-frame7658">
                            <a style="text-decoration: none;" asp-action="Details" asp-route-id="@item.CompositionId" asp-controller="Home">
                                <div class="blog-home-frame76391">
                                    <div class="outimgBig">
                                        @Html.Raw("<img alt='Line29221' class='bigimage' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(@item.Image) + "\" />")
                                    </div>
                                    <div class="blog-home-frame76452">
                                        <div class="blog-home-frame7657">
                                            <div class="blog-home-frame76402">
                                                <div class="blog-home-frame76562">
                                                    <span class="blog-home-text54">
                                                        <span>@item.Genre.Name</span>
                                                    </span>

                                                </div>
                                                <span class="blog-home-text58">
                                                    <span>@item.Title</span>
                                                </span>
                                            </div>
                                            <div class="blog-home-frame7642">
                                                <span class="blog-home-text60">
                                                    @item.Description
                                                </span>
                                            </div>

                                        </div>
                                        <div class="blog-home-article-author1">
                                            <img class="user-icon" src="~/images/userIcon.png" alt="">
                                            <div class="blog-home-author-text1">
                                                <span class="blog-home-text26">
                                                    <span>@item.User.Login</span>
                                                </span>
                                                <span class="blog-home-text28">
                                                    <span>Posted at @item.Date</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
              }             
            </div>

            </div>
          </div>
</div>